page-home {
    ion-select {
        max-width: none;
    }

    ion-card-header div{
        font-size: 1rem;
        color: grey;
    }

    .chart{
        width: 100%;
        height: 320px;
        text-align: center;
    }
}
